#define WIFI_SSID  "SSID"
#define WIFI_PASSWORD "PASSWORD"

const int URLS_SIZE = 1;
const char* URLS[] = {
  "/sendmsg?user=USER_ID&pass=PASSWORD&msg=MESSAGE"
};

#define HOST "smsapi.free-mobile.fr"
#define VERIFY_CERTIFICATE true
#define HOST_CERTIFICATE_FINGERPRINT "EB 49 4D F9 6A 8A 87 FC 7D D0 CA 7E 99 20 15 47 37 FC AD 4E";
